language = "c"
run = "gcc -o labrabota2 src/main.c -l && ./labrabota2"
modules = ["c-clang14"]

[deployment]
run = ["sh", "-c", "gcc -o labrabota2 src/main.c -lm ./labrabota2"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40369676
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gcc -o labrabota2 src/main.c -lm && ./labrabota2"
